@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<UbbRentalBike.ViewModels.TripDto>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Index"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Welcome"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Localizer["Trip Name"]
        </th>
        <th>
            @Localizer["Start Date"]
        </th>
        <th>
            @Localizer["End Date"]
        </th>
        <th>
            @Localizer["Place of Departure"]
        </th>
        <th>
            @Localizer["Destination"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>