@using UbbRentalBike.ViewModel;
@model TripDetailViewModel

<div>
    <p>Cel podróży: @Model.DestinationCity</p>
    <p>Data: @Model.TripDate</p>
    <p>Miejsce wylotu: @Model.CityDeparture</p>
    <p>AllInclusive: @Model.AllInclusive</p>
    <p>Opis: @Model.Description</p>
    <p>Cena: @Model.Price zł</p>
</div>